.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: orangered;
  padding: 12px;
  height: 55px;
}

.imageIcon {
  margin-left: 12px;
  width: 30px;
}
.title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
